<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS-게시글 수정중</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ../../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/post/write.css" />
  </head>

  <body>
    <% include ../../../partials/headerTeam.ejs %> <% include
    ../../../partials/editorWrite.ejs %>

    <div class="wrap">
      <div class="container">
        <div class="title">
          <input
            type="text"
            id="title"
            name="title"
            value="<%= post.title %>"
          />
        </div>

        <div class="tag">
          <input type="text" id="tag" name="tag" value="<%= post.tag %>" />
        </div>

        <div class="category">
          <label for="category">category</label>
          <select name="category" id="category">
            <% category.forEach((item,idx) => { if(item.no == post.category_no)
            { %>
            <option value="<%=item.no%>" selected><%=item.explain %> </option>
            <% } else { %>
            <option value="<%=item.no%>"><%=item.explain %> </option>
            <% } }) %>
          </select>
        </div>

        <div id="editSection" id="content" name="content">
          <p hidden id="hiddenContent"><%- post.content %></p>
        </div>

        <button class="custom" onclick="back()">뒤로가기</button>
        <button class="custom" onclick="postUpdate.update('<%=post.no%>')">
          수정하기
        </button>
      </div>
    </div>

    <% include ../../../partials/footer.ejs %>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/post/postUpdate.js"></script>
  </body>
</html>
