<!DOCTYPE html5>
<html lang="ko">

<head>
    <title id="headTitle">WeKnowJS-<%=post.title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../../partials/essentialCss.ejs %>
    <% include ../../../partials/editorViewer.ejs %>
    <link rel='stylesheet' href='/css/post/read.css' />
    
</head>

<body>
        <% include ../../../partials/header.ejs %>


    <div class="content-wrap">
        <div class='content-header'>
            <div class='post-intro'>
                <h1 id="title">
                    <%= post.title %>
                </h1>
                <dl class=postInfo>
                    <dt>
                    <dd id="createDate">
                        <%= post.created_at %> |
                    </dd>
                    </dt>
                    <dt>
                    <dd id="viewCount">
                        View
                        <%= post.count %>
                    </dd>
                    </dt>
                </dl>
            </div>
        </div>
        <!-- /content-header -->


        <!-- content-content -->
        <div class='content-content'>
            <div class="content-text" id ='content-text'>
                <input type="hidden" id="postContent" value="<%= post.content %>" />
            </div>
            <!-- /content-text -->
            
            <!-- content-side -->
            <div class="content-side">
                <div class='sidepost'>
                    <div class='sideTop'>
                        <h2>Sub post</h2>
                    </div>
                    <div class='subpost'>
                        <a onclick="postRead.getContent('<%=post.no%>')">Home</a>
                        <% subPost.forEach((item,index) => { %>
                        <a onclick="postRead.getContent('<%=post.no%>','<%=item.sub_no %>')" >
                            <%=item.title %></a>
                        <% }) %>
                    </div>
                </div>
             </div>
             <!-- //cotent-side -->
        </div>
        <!-- //content-content -->

        <div>
            <div id="disqus_thread"></div>
        </div>

        
    </div>


    <% include ../../../partials/footer.ejs %>

    <noscript>Please enable JavaScript</noscript>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/post/post.js"></script>
    
    <script>
        window.onload = function () {
            const disqus_config = function () {
                this.page.url = '/post/<%=post.no%>';
                this.page.identifier = `<%=post.no%>`;
            };

            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://weknowjs-xyz.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        }

        const postRead = new Post();
        postRead.readInit();

    </script>
 

</body>

</html>
