<!DOCTYPE html5>
<html lang="ko">

<head>
    <title id="headTitle">WeKnowJS-<%=post.title%></title>
    <meta charset="UTF-8">
    <meta name="author" content="JongHwa" />
    <meta name="description" content="포스트 일기, Post read Page" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Cache-Control" content="no-cache" />
    <meta name="Pragma" content="no-cache" />

    <% include ../../../partials/essentialCss.ejs %>
    <link rel='stylesheet' href='/css/posts/read.css' />
    
</head>

<body>
    <% include ../../../partials/headerTeam.ejs %>
    <% include ../../../partials/editorViewer.ejs %>
    <div class="content-wrap">
        <div class='content-header'>
            <div class='post-intro'>
                <h1 id="title">
                    <%= post.title %>
                </h1>
                <dl class=postInfo>
                    <dt>
                    <dd id="createDate">
                        <%= post.created_at %>
                    </dd>
                    <dd>| view</dd>
                    </dt>

                    <dt>
                    <dd id="viewCount">
                        <%= post.count %>
                    </dd>
                    </dt>
                </dl>
            </div>

            <div class="manageArea">
                <a href="/posts/<%=post.no%>/new">
                    <input type="button" value='서브글 작성' />
                </a>
                <input type="button" value='수정하기' id='update' onclick="post.updateView('<%= post.no%>')"/>
                <input type="button" value='삭제하기' id='delete' onclick="post.deletePost('<%= post.no%>')" />
            </div>
        </div>
        <!-- /content-header -->


        <div class='content-content'>
            <div class="content-text" id ='content-text'>
                <input type="hidden" id="postContent" value="<%= post.content %>" />
            </div>
            <!-- /content-text -->
            
            <div class="content-side">
                <div class='sidepost'>
                    <div class='sideTop'>
                        <h2>Sub post</h2>
                    </div>
                    <div class='subpost'>
                        <a onclick="post.getContent('<%=post.no%>')">Home</a>
                        <% subPost.forEach((item,index) => { %>
                        <a onclick="post.getContent('<%=post.no%>','<%=item.sub_no %>')" class="subpost_element">
                            <%=item.title %></a>
                        <% }) %>
                    </div>
                </div>
             </div>
             <!-- /cotentside -->
        </div>
        <!-- /content-content -->

        <div>
            <div id="disqus_thread"></div>
        </div>

        
    </div>


    <% include ../../../partials/footer.ejs %>

    <noscript>Please enable JavaScript</noscript>
    <script src="/js/disqus/disqus.js"></script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/posts/posts.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){ 
            let disqus = new Disqus("https://weknowjs-xyz/posts/<%=post.no%>",'<%=post.no%>')
            post.readInit();
        })
    </script>


</body>

</html>
