<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS-게시글 수정중</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="포스트 수정 페이지, Post update Page" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <% include ../../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/posts/write.css" />
  </head>

  <body>
    <% include ../../../partials/headerTeam.ejs %> <% include ../../../partials/editorWrite.ejs %>

    <div class="wrap">
      <!-- container -->
      <div class="container">
        <div class="title">
          <input type="text" id="title" name="title" value="<%= post.title %>" />
        </div>

        <div class="tag"><input type="text" id="tag" name="tag" value="<%= post.tag %>" /></div>

        <!-- category -->
        <div class="category">
          <label for="category-select">category</label>
          <select name="category" id="category-select">
            <% category.forEach((item,idx) => { if(item.no == post.category_no) { %>
            <option value="<%=item.no%>" selected><%=item.explain %> </option>
            <% } else { %>
            <option value="<%=item.no%>"><%=item.explain %> </option>
            <% } }) %>
          </select>
        </div>
        <!-- //category -->

        <!-- editsection -->
        <div id="editSection" id="content" name="content">
          <p hidden id="hiddenContent"><%- post.content %></p>
        </div>
        <!-- //editsection -->

        <button class="custom" onclick="back()">뒤로가기</button>
        <button class="custom" onclick="post.update('<%=post.no%>')">수정하기</button>
      </div>
      <!-- //container -->
      <div class="moveTop-btn" id="moveTop-btn">&#x2912;</div>
    </div>

    <% include ../../../partials/footer.ejs %>
    <script src="/js/nav/nav.js"></script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/posts/posts.js"></script>
    <script>
      post.updateInit();
    </script>
  </body>
</html>
