<!DOCTYPE html>
<html lang="ko">
<head>
    <title id="headTitle">WeKnowJS-<%=post.title%></title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="서브 포스트 읽기 , SubPost Read Page" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="Cache-Control" content="no-cache" />
    <meta name="Pragma" content="no-cache" />

    <% include ../../../partials/essentialCss.ejs %>
    <link rel='stylesheet' href='/css/posts/read.css' />
    
</head>

<body>
    <% include ../../../partials/editorViewer.ejs %>
    <% include ../../../partials/headerTeam.ejs %>


    <div class="content-wrap">
        <div class='content-header'>
            <div class='post-intro'>
                <h1 id="title"><%= post.title %></h1>
                    <dl class=postInfo>
                        <dt>
                            <dd id="createDate">
                                <%= post.created_at %> |
                            </dd>
                        </dt>
                        <dt>
                            <dd id="viewCount">
                                View <%= post.count %>
                            </dd>
                        </dt>
                    </dl>
                </div>
                <div class="manageArea">
                        <a href="/posts/<%=post.no%>/new">
                            <input type="button" value='서브글 작성' />
                        </a>
                            <input type="button" value='수정하기' id='update' onclick='postRead.updateView("<%=home%>")' />
                        <input type="button" value='삭제하기' id='delete' onclick='postRead.deletePost("<%=home%>","<%=post.sub_no%>")' />
                    </div>
            </div>

            <!-- content-content -->
            <div class='content-content'>
                <!-- content-text -->
                <div class="content-text" id ='content-text'>
                    <input type="hidden" id="postContent" value="<%= post.content %>" />
                </div>
                <!--  //content-text -->
                
                <!-- content-side -->
                <div class="content-side">
                    <div class='sidepost'>
                        <div class='sideTop'>
                            <h2>Sub post</h2>
                        </div>

                        <div class='subpost'>
                            <a onclick="postRead.getContent('<%=home%>')">Home</a>
                            <% subPost.forEach((item,index) => { %>
                            <a onclick="postRead.getContent('<%=home%>','<%=item.sub_no %>')" class="subpost_element">
                                <%=item.title %></a>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <!-- //content-side -->
            </div>
            <!-- //content-content -->

            <div>
                <div id="disqus_thread"></div>
            </div>

        </div>


        <% include ../../../partials/footer.ejs %>

        <noscript>Please enable JavaScript</noscript>
        <script src="/js/disqus/disqus.js"></script>
        <script>let disqus = new Disqus("https://weknowjs.xyz/posts/<%=home%>/<%=post.sub_no %>",'<%=home%>/<%=post.sub_no %>') </script>
        <script src="/js/util/ajaxUtil.js"></script>
        <script src="/js/posts/posts.js"></script>
        <script>
            const postRead = new Post();
            postRead.readInit();
        </script>


</body>

</html>