<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="알고리즘 문제 풀리 리스트 페이지, Problem Solving List Page & readPage" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <% include ../../../partials/essentialCss.ejs %>
  <link rel="stylesheet" href="/css/solving/list.css" />
  </head>
  <body>
    <% include ../../../partials/editorViewer.ejs %>
    <% include ../../../partials/header.ejs %>

    <div class="wrap">
      <!-- flex -->
      <div class="flex">
        <!-- side -->
        <div class="side">
          
          <% category.forEach((outerE,i) => { %>
          <div class="category" id = 'category'>
            <h2>
              <h3 onclick="solving.toggle('<%=i%>')"> <%= outerE.title %> ( <%= outerE.Solvings.length %> )</h3>
              <% outerE.Solvings.forEach((innerE,j) => { %>
                <div class="category-content category-content<%=i%>">
                  <a onclick="solving.read('<%=innerE.dataValues.problemNum %>')">
                    <% if(innerE.dataValues.problemNum == 1) { %> └ Main </a>
                    <%} else {  %>
                      └ <%=innerE.dataValues.problemNum %> </a>

                    <%} %>
                </div>
              <% }) %>
              </h2>
          </div>
          <% }) %>
          <!-- /category -->
        </div>
        <!-- //side -->

        <!-- content -->
        <div class="content">
          <!-- container -->
          <div class="container">
            <div class="content-title">
              
              <h1 id='content-title'><%= post.title %></h1>
              <dl>
                  <dt><dd id='createDate'><%= post.created_at %> |</dd></dt>
                  <dt><dd id='count'>View <%= post.count %></dd></dt>
              </dl>
              <h3><a href="<%= post.url%>" id='showProblem' target="_blank"><%= post.url %></a></h3>
            </div>
            <!-- content-title -->
            <div class="content-content" id="content-content">
                <input type="hidden" id="content-input" value="<%= post.content %>" />
            </div>
            <!-- //content-content -->
            <div class="content-reply" id="disqus_thread">댓글들</div>
            <!-- // content-reply -->
          </div>
          <!-- //container -->
        </div>
        <!-- //content -->
      </div>
      <div class="moveTop-btn" id="moveTop-btn">&#x2912;</div>
    </div>
    <!-- //wrap -->

    <% include ../../../partials/footer.ejs %>
    <!-- footer -->


    <script src="/js/nav/nav.js"></script>
    <script src="/js/disqus/disqus.js"></script>
    <script>let disqus = new Disqus("https://weknowjs-xyz/solving/<%=post.problemNum%>",'<%=post.problemNum%>') </script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/solving/solving.js"></script>
    <script>
      let solving = new Solving();
      solving.solvingList();

      window.onpopstate = function(e) {
          solving.backLoadContent(e.state);
      }
    </script>
  </body>
</html>
