<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ../../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/solving/list.css" />
  </head>
  <body>
    <% include ../../../partials/editorViewer.ejs %>
    <% include ../../../partials/header.ejs %>

    <div class="wrap">
      <div class="flex">
        <div class="side">
          <% category.forEach((outerE,i) => { %>
          <div class="category">
            <h2>
              <h3>- <%= outerE.title %> ( <%= outerE.Solvings.length %> )</h3>
              <% outerE.Solvings.forEach((innerE,j) => { %>
                <div class="category-content" id='category-content<%=i%>'>
                  <a href="#" onclick="solving.read('<%=innerE.dataValues.problemNum %>')">
                    <% if(innerE.dataValues.problemNum == 1) { %> └ Main 
                    <%} else {  %>
                      └ <%=innerE.dataValues.problemNum %> </a>

                    <%} %>
                </div>
              <% }) %>
              </h2>
          </div>
          <% }) %>
        </div>

        <div class="content">
          <div class="container">
            <div class="content-title">
              
              <h1 id='content-title'><%= post.title %></h1>
              <dl>
                  <dt><dd id='createDate'><%= post.created_at %> |</dd></dt>
                  <dt><dd id='count'>View <%= post.count %></dd></dt>
              </dl>
              <h3><a href="<%= post.url%>" id='showProblem' target="_blank"><%= post.url %></a></h3>
            </div>
            <!-- content-title -->
            <div class="content-content" id="content-content">
                <input type="hidden" id="content-input" value="<%= post.content %>" />
            </div>
            <!-- //content-content -->
            <div class="content-reply" id="disqus_thread">댓글들</div>
            <!-- // content-reply -->
          </div>
        </div>
      </div>
    </div>
    <!-- //wrap -->

    <% include ../../../partials/footer.ejs %>
    <!-- footer -->

    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/solving/solving.js"></script>


    <script>
        window.onload = function () {
            // const disqus_config = function () {
            //     this.page.url = '/solving/1';  // Replace PAGE_URL with your page's canonical URL variable
            //     this.page.identifier = `1`; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            // };

            // (function () { // DON'T EDIT BELOW THIS LINE
            //     var d = document, s = d.createElement('script');
            //     s.src = 'https://weknowjs-xyz.disqus.com/embed.js';
            //     s.setAttribute('data-timestamp', +new Date());
            //     (d.head || d.body).appendChild(s);
            // })();

        }

    </script>

  </body>
</html>
