<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="알고리즘 문제풀이 리스트 페이지, Solving List Page" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Cache-Control" content="no-cache" />
    <meta name="Pragma" content="no-cache" />

    <link rel="stylesheet" href="/css/solving/list.css" />
  </head>
  <body>
    <% include ../../../partials/essentialCss.ejs %>
    <% include ../../../partials/headerTeam.ejs %>
    <% include ../../../partials/editorViewer.ejs %>
    <div class="wrap">
      <!-- flex -->
      <div class="flex">

        <!-- side -->
        <div class="side">
          <% category.forEach((outerE,i) => { %>
          <div class="category">
              <h2>
                <h3 onclick="solving.toggle(<%=i%>)"> <%= outerE.title %> ( <%= outerE.Solvings.length %> )</h3>
                <% outerE.Solvings.forEach((innerE,j) => { %>
                  <div class="category-content category-content<%=i%>">
                    <a onclick="solving.read('<%=innerE.dataValues.problemNum %>')">
                      <% if(innerE.dataValues.problemNum == 1) { %> └ Main </a>
                        <%} else {  %>
                          └ <%=innerE.dataValues.problemNum %> </a>
                          <%} %>
                  </div>
                        <% }) %>
              </h2>
          </div>
          <% }) %>
        </div>
        <!-- //side -->

        <!-- content -->
        <div class="content">
          <div class="container">
            <!-- content-admin -->
              <div class="content-admin">
                  <a href='/solving/new'>
                    <input type="button" value='글등록' id='update' />
                  </a>
                  <a href='/solving/<%=post.problemNum%>/edit' id="updateTag">
                      <input type="button" value='수정하기' id='update' />
                    </a>
                  <input type="button" value='삭제하기' id='delete' onclick="solving.delete()" />

              </div>
              <!-- //content-admin -->

            <div class="content-title">
              
              <h1 id='content-title'><%= post.title %></h1>
              <dl>
                  <dt><dd id='createDate'><%= post.created_at %> |</dd></dt>
                  <dt><dd id='count'>View <%= post.count %></dd></dt>
              </dl>
              <h3><a href="<%= post.url%>" id='showProblem' target="_blank"><%= post.url %></a></h3>
            </div>
            <!-- content-title -->
            <div class="content-content" id="content-content">
                <input type="hidden" id="content-input" value="<%= post.content %>" />
            </div>
            <!-- //content-content -->
            <div class="content-reply" id="disqus_thread">댓글들</div>
            <!-- // content-reply -->
          </div>
        </div>
        <!-- //content -->
      </div>
      <!-- //flex -->
    </div>
    <!-- //wrap -->

    <% include ../../../partials/footer.ejs %>
    <!-- footer -->

    <script src="/js/disqus/disqus.js"></script>
    <script>let disqus = new Disqus("https://weknowjs-xyz/solving/<%=post.problemNum%>",'<%=post.problemNum%>') </script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/solving/solving.js"></script>
    <script>let solving = new Solving();solving.solvingList();</script>

  </body>
</html>
