<!DOCTYPE html5>
<html lang="ko">

<head>
    <title id="headTitle">JONGHWA BLOG</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="JONGHWA BLOG" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <% include ../../../partials/essentialCss.ejs %>
    <link rel='stylesheet' href='/css/posts/read.css' />
</head>

<body>
    <% include ../../../partials/header.ejs %>
    <% include ../../../partials/editorViewer.ejs %>

    
    <div class="content-wrap">
        <div class='content-header'>
            <div class='post-intro'>
                <h1 id="title">
                    <%= post.title %>
                </h1>
                <dl class=postInfo>
                    <dt>
                    <dd id="createDate">
                        <%= post.created_at %>
                    </dd>
                    <dd>
                        | view
                    </dd>
                    </dt>
                    <dt>
                    <dd id="viewCount">
                        <%= post.count %>
                    </dd>
                    </dt>
                </dl>
            </div>
            <div class='postTag'>
                <ul>
                    <% post.tag.forEach(e => { %>
                        <li>&#8917;<%= e.Tag.name %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <!-- /content-header -->


        <!-- content-content -->
        <div class='content-content'>
            <div class="content-text" id ='content-text'>
                <input type="hidden" id="postContent" value="<%= post.content %>" />
            </div>
            <!-- /content-text -->
        </div>
        <!-- //content-content -->

        <!-- content-side -->
        <div class="content-side">
            <h2 id='subPostBtn'>하위 게시글</h2>
            <div class='sidepost'>
                <h2>하위 게시글</h2>
                <ul>
                    <li><a onclick="post.getContent('<%=post.no%>')">Home</a></li>
                    <% subPost.forEach((item,index) => { %>
                        <li><a onclick="post.getContent('<%=post.no%>','<%=item.sub_no %>')" class="subpost_element"><%=item.title %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <!-- //cotent-side -->
        <div class='reply-wrap'>
            <div id="disqus_thread"></div>
        </div>
        <div class="moveTop-btn" id="moveTop-btn">&#x2912;</div>
    </div>
    

    <% include ../../../partials/footer.ejs %>

    <noscript>Please enable JavaScript</noscript>
    <script src="/js/disqus/disqus.js"></script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/posts/posts.js"></script>
    <script src="/js/nav/nav.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){ 
            let disqus = new Disqus('<%=post.no%>','<%=post.no%>');
            post.readInit();

            window.onpopstate = function(e) {
                post.backLoadContent(e.state);
            } 
        })
    </script>
 

</body>

</html>
