<!DOCTYPE html5>
<html lang="ko">

<head>
    <title id="headTitle">WeKnowJS <%=post.title%></title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="게시글 페이지, Post Read Page" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <% include ../../../partials/essentialCss.ejs %>
    <link rel='stylesheet' href='/css/posts/read.css' />
    
</head>

<body>
    <% include ../../../partials/header.ejs %>
    <% include ../../../partials/editorViewer.ejs %>

    
    <div class="content-wrap">
        <div class='content-header'>
            <div class='post-intro'>
                <h1 id="title">
                    <%= post.title %>
                </h1>
                <dl class=postInfo>
                    <dt>
                    <dd id="createDate">
                        <%= post.created_at %>
                    </dd>
                    <dd>
                        | view
                    </dd>
                    </dt>
                    <dt>
                    <dd id="viewCount">
                        <%= post.count %>
                    </dd>
                    </dt>
                </dl>
            </div>
        </div>
        <!-- /content-header -->


        <!-- content-content -->
        <div class='content-content'>
            <div class="content-text" id ='content-text'>
                <input type="hidden" id="postContent" value="<%= post.content %>" />
            </div>
            <!-- /content-text -->
            
            <!-- content-side -->
            <div class="content-side">
                <div class='sidepost'>
                    <div class='sideTop'>
                        <h2>Sub post</h2>
                    </div>
                    <div class='subpost'>
                        <a onclick="postRead.getContent('<%=post.no%>')">Home</a>
                        <% subPost.forEach((item,index) => { %>
                        <a onclick="postRead.getContent('<%=post.no%>','<%=item.sub_no %>')" class="subpost_element">
                            <%=item.title %></a>
                        <% }) %>
                    </div>
                </div>
             </div>
             <!-- //cotent-side -->
        </div>
        <!-- //content-content -->

        <div>
            <div id="disqus_thread"></div>
        </div>

        
    </div>


    <% include ../../../partials/footer.ejs %>

    <noscript>Please enable JavaScript</noscript>
    <script src="/js/disqus/disqus.js"></script>
    <script>let disqus = new Disqus("https://weknowjs.xyz/posts/post<%=post.no%>sub1",'post<%=post.no%>sub1') </script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/posts/posts.js"></script>
    <script>
        const postRead = new Post();
        postRead.readInit();
    </script>
 

</body>

</html>
