<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS-게시글 수정중</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ../../partials/team/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/team/postWrite.css" />
    <% include ../../partials/team/editorWrite.ejs %>
  </head>

  <body>
    <% include ../../partials/team/header.ejs %>

    <article>
      <section>
        <div class="custom title">
          <input
            type="text"
            id="title"
            name="title"
            value="<%= post.title %>"
          />
        </div>
        <div class="custom tag">
          <input type="text" id="tag" name="tag" value="<%= post.tag %>" />
        </div>
        <div class="category">
          <label for="category">category</label>
          <select name="category" id="category">
            <% category.forEach((item,idx) => { %>
            <option value="<%=item.no%>"><%=item.explain %> </option>
            <% }) %>
          </select>
        </div>
        <div id="editSection" id="content" name="content">
          <p hidden id="hiddenContent"><%- post.content %></p>
        </div>

        <button class="custom" onclick="back()">뒤로가기</button>
        <button class="custom" onclick="postUpdate.update('<%=post.no%>')">
          수정하기
        </button>
      </section>
    </article>

    <% include ../../partials/footer.ejs %>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/post/postUpdate.js"></script>

    <!-- <script>
      //todo 수정할때 tag 고정해주기!!..
      let content = document.getElementById('hiddenContent');
      let tag = document.getElementById('tag');
      let title = document.getElementById('title');
      let category = document.getElementById('category');
      let tagVal = `<%= post.tag %>`.split(' ');
      category.value = `<%= post.category_no %>`;
      title.value = `<%= post.title %>`;
      tagVal.shift();
      tag.value = tagVal.map(item => item.substr(1, item.length)).join(' ');
    </script> -->
  </body>
</html>
