<!DOCTYPE html>
<html lang="ko">
<head>
    <title id="headTitle">WeKnowJS-<%=post.title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/noauth/essentialCss.ejs %>
        <link rel='stylesheet' href='/css/common/postRead.css' />
        <% include ../../partials/editorViewer.ejs %>
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <link rel='stylesheet' href='/css/noauth/header.css' />

</head>

<body>
    <% include ../../partials/noauth/header.ejs %>


        <article class="post">
            <section class='title'>
                <div class='intro'>
                    <h1 id="title">
                        <%= post.title %>
                    </h1>
                    <dl class=postInfo>
                        <dt>
                            <dd id="createDate">
                                <%= post.created_at %> |
                            </dd>
                        </dt>
                        <dt>
                            <dd id="viewCount">
                                View
                                <%= post.count %>
                            </dd>
                        </dt>
                    </dl>
                </div>
            </section>


            <section class='content'>
                <div id="content"></div>
                <div class="side">
                    <div class='sidepost'>
                        <div class='sideTop'>
                            <h2>Sub post</h2>
                        </div>

                        <div class='subpost'>
                            <a onclick="postRead.getContent('<%=home%>')">Home</a>
                            <% subPost.forEach((item,index) => { %>
                            <a onclick="postRead.getContent('<%=home%>','<%=item.sub_no %>')" >
                                <%=item.title %></a>
                            <% }) %>
                        </div>
                    </div>


                </div>

            </section>


            <section>
                <div id="disqus_thread"></div>
            </section>

            <p hidden id="hiddenContent">
                    <%- post.content %>
            </p>
        </article>


        <% include ../../partials/footer.ejs %>

            <noscript>Please enable JavaScript</noscript>
            <script src="/js/util/ajaxUtil.js"></script>
            <script src="/js/post/postRead.js"></script>
            <script>
                window.onload = function () {
                    const disqus_config = function () {
                        this.page.url = '/post/<%=home%>/<%= post.no %>';  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = `<%=home%>/<%= post.no %>`;; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://weknowjs-xyz.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                }
            </script>


</body>

</html>